<p>
    {{ t "Hello world." }}<br />
    {{ tr this key="I have an apple." count=apple_count }}<br />
    {{ tr this key="You have __messages__ new message." count=message_count messages=message_count }}
</p>